[submodule "indextree"]
	path = indextree
	url = ../indextree
[submodule "log"]
	path = log
	url = ../log
[submodule "simplelog"]
	path = simplelog
	url = ../simplelog
[submodule "termcolor"]
	path = termcolor
	url = ../termcolor
